.profile__image {
    max-width: 120px;
    max-height: 120px;
    border-radius: 100%;
    margin-right: 30px;
}

@media screen and (max-width: 610px) {
    .profile__image {
        margin: 0 auto 28px;
    }
}