.popup__container {
    width: 430px;
    height: 330px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}
.popup__container::before {
    content: '';
    height: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-color: #000;
}
