.place {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    font-size: 0;
    /*
    background-image: url(../../images/place-image-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
    color: #000;
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    */
}