.popup-image__close-button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/Close\ Icon.svg);
    width: 32px;
    height: 32px;
    position: relative;
    left: calc(100% + 8px);
    bottom: 8px;
    background-size: cover;
}

.popup-image__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 610px) {
    .popup-image__close-button {
        width: 20px;
        height: 20px;
        left: calc(100% - 20px);
        bottom: 16px;
    }
}